.wd-flex-row-container {
  display: flex;
  flex-direction: row;
}
.wd-flex-grow-1 {
  flex-grow: 1;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

/* h1#project {
  color: purple;
  font-size: 4em;
}
h1 {
  font-size: 3em;
  color: green;
}
span {
  color: red;
} */
