ul.wd-course-navigation.list-group {
  border-radius: 0px;
  margin-left: 20px;
}
ul.wd-course-navigation .list-group-item {
  border: none;
}

ul.wd-course-navigation .list-group-item.active {
  color: black;
  background-color: white;
  border: none;
  border-left: 2px solid black;
}

ul.wd-course-navigation a {
  color: red;
  text-decoration: none;
}

ul.wd-course-navigation .list-group-item.active a {
  color: black;
}
